<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Widget Template</title>
    <link data-minify="1" rel='stylesheet' id='twentyfourteen-jetpack-css'  href='https://coinspondent.de/wp-content/cache/min/1/p/jetpack/9.0.2/modules/theme-tools/compat/twentyfourteen-d07ea3fd4d72f7941ad0421bb189bd47.css' media='all' />
    <link data-minify="1" rel='stylesheet' id='wp-block-library-css'  href='https://coinspondent.de/wp-content/cache/min/1/c/5.5.3/wp-includes/css/dist/block-library/style.min-3be9d75291a02729bee8d296c47bc4ae.css' media='all' />
    <link data-minify="1" rel='stylesheet' id='wp-block-library-theme-css'  href='https://coinspondent.de/wp-content/cache/min/1/c/5.5.3/wp-includes/css/dist/block-library/theme.min-3aa7a6c95fa0e216e493168e67d00c3f.css' media='all' />
    <link rel='stylesheet' id='toc-screen-css'  href='https://coinspondent.de/wp-content/plugins/table-of-contents-plus/screen.min.css?ver=2002' media='all' />
    <link crossorigin="anonymous" rel='stylesheet' id='twentyfourteen-lato-css'  href='https://fonts.googleapis.com/css?family=Lato%3A300%2C400%2C700%2C900%2C300italic%2C400italic%2C700italic&#038;subset=latin%2Clatin-ext&#038;display=swap' media='all' />
    <link data-minify="1" rel='stylesheet' id='genericons-css'  href='https://coinspondent.de/wp-content/cache/min/1/p/jetpack/9.0.2/_inc/genericons/genericons/genericons-60b06a701df6ba180f3a33b120bd9f3b.css' media='all' />
    <link data-minify="1" rel='stylesheet' id='twentyfourteen-style-css'  href='https://coinspondent.de/wp-content/cache/min/1/wp-content/themes/twentyfourteen-child/style-77ee8e554bfb7670b86dc0c71f3c1bd6.css' media='all' />
    <link data-minify="1" rel='stylesheet' id='twentyfourteen-block-style-css'  href='https://coinspondent.de/wp-content/cache/min/1/wp-content/themes/twentyfourteen/css/blocks-1451a128f4219ab72adddce433e34211.css' media='all' />

  </head>

  <body>
    <div data-widget-host="habitat" class="fourohtwo-widget">
      <script type="text/props">
        { "color": "blue" }
      </script>
    </div>
    <script async src="/bundle.js"></script>
  </body>
</html>
