<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Widget Template</title>
  </head>

  <body>
    <div class="fourohtwo-widget">
      <script type="text/props">
        {
          "currency": "€",
          "showModal": false,
          "paymentOptions": {"2€": 2, "5€": 5, "10€": 10 },
          "widgetTitle": "Area 402 Widget",
          "enableEmailSubscription": false,
          "apiBaseUrl": "https://area402.herokuapp.com",
          "welcomeMessage": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.",
          "apiToken": "UrLnHR1DKN3eiAXefkT9Lm2R"
        }
      </script>
    </div>

    <script async src="/bundle.js"></script>

    <a href="javascript:window.area402.openWidget({ currency: '€', showModal: false, paymentOptions: [1, 2, 5, 10], widgetTitle: 'Area 402 Widget', enableEmailSubscription: false, apiBaseUrl: 'https://area402.herokuapp.com', welcomeMessage: 'Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.', apiToken: 'UrLnHR1DKN3eiAXefkT9Lm2R' })">Click Me!!</button>
  </body>
</html>
