<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Widget Template</title>
  </head>

  <body>
    <div data-widget-host="habitat">
      <script type="text/props">
        { "color": "blue" }
      </script>
    </div>
    <script async src="/bundle.js"></script>
  </body>
</html>
