<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Widget Template</title>
  </head>

  <body>
    <div data-widget-host="habitat" class="fourohtwo-widget">
      <script type="text/props">
        {
          "currency": "€",
          "showModal": true,
          "paymentOptions": [1, 2, 5, 10],
          "widgetTitle": "Area 402 Widget",
          "apiBaseUrl": "https://area402.herokuapp.com",
          "welcomeMessage": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
        }
      </script>
    </div>
    <script async src="/bundle.js"></script>
  </body>
</html>
