<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Widget Template</title>

    <link data-minify="1" rel='stylesheet' id='twentyfourteen-jetpack-css'  href='https://coinspondent.de/wp-content/cache/min/1/p/jetpack/9.0.2/modules/theme-tools/compat/twentyfourteen-d07ea3fd4d72f7941ad0421bb189bd47.css' media='all' />
    <link data-minify="1" rel='stylesheet' id='wp-block-library-css'  href='https://coinspondent.de/wp-content/cache/min/1/c/5.5.3/wp-includes/css/dist/block-library/style.min-3be9d75291a02729bee8d296c47bc4ae.css' media='all' />
    <link data-minify="1" rel='stylesheet' id='wp-block-library-theme-css'  href='https://coinspondent.de/wp-content/cache/min/1/c/5.5.3/wp-includes/css/dist/block-library/theme.min-3aa7a6c95fa0e216e493168e67d00c3f.css' media='all' />
    <link rel='stylesheet' id='toc-screen-css'  href='https://coinspondent.de/wp-content/plugins/table-of-contents-plus/screen.min.css?ver=2002' media='all' />
    <link crossorigin="anonymous" rel='stylesheet' id='twentyfourteen-lato-css'  href='https://fonts.googleapis.com/css?family=Lato%3A300%2C400%2C700%2C900%2C300italic%2C400italic%2C700italic&#038;subset=latin%2Clatin-ext&#038;display=swap' media='all' />
    <link data-minify="1" rel='stylesheet' id='genericons-css'  href='https://coinspondent.de/wp-content/cache/min/1/p/jetpack/9.0.2/_inc/genericons/genericons/genericons-60b06a701df6ba180f3a33b120bd9f3b.css' media='all' />
    <link data-minify="1" rel='stylesheet' id='twentyfourteen-style-css'  href='https://coinspondent.de/wp-content/cache/min/1/wp-content/themes/twentyfourteen-child/style-77ee8e554bfb7670b86dc0c71f3c1bd6.css' media='all' />
    <link data-minify="1" rel='stylesheet' id='twentyfourteen-block-style-css'  href='https://coinspondent.de/wp-content/cache/min/1/wp-content/themes/twentyfourteen/css/blocks-1451a128f4219ab72adddce433e34211.css' media='all' />

  </head>

  <body>
    <div id="page" class="hfeed site">

      <header id="masthead" class="site-header" role="banner">
        <div class="header-main">
          <h1 class="site-title"><a href="/" rel="home">The Test</a></h1>

			    <nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
				    <button class="menu-toggle">Primäres Menü</button>
				    <a class="screen-reader-text skip-link" href="#content">Springe zum Inhalt</a>
				    <div class="menu-header-menue-container">
              <ul id="primary-menu" class="nav-menu">
                <li id="menu-item-9557" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-9557"><a href="/" aria-current="page">Blog</a></li>
                <li id="menu-item-9564" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-9564"><a href="/">Podcast</a>
                  <ul class="sub-menu">
	                  <li id="menu-item-12976" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12975"></li>
                  </ul>
                </li>
              </ul>
            </div>
          </nav>
		    </div>
	    </header>
      <div id="main" class="site-main">
        <div id="main-content" class="main-content">
          <div id="primary" class="content-area">
          </div>
          <div id="content-sidebar" class="content-sidebar widget-area" role="complementary">
            <aside id="media_image-8" class="widget widget_media_image"><h1 class="widget-title">Podcast</h1><a href="/"><img width="306" height="306" src="https://i1.wp.com/coinspondent.de/wp-content/uploads/2016/12/honeybadger-306x306.png?fit=306%2C306&amp;ssl=1&amp;is-pending-load=1" class="image wp-image-10883 alignnone attachment-full size-full jetpack-lazy-image lazyloaded jetpack-lazy-image--handled" alt="" style="max-width: 100%; height: auto;" title="" data-attachment-id="10883" data-permalink="/" data-orig-file="https://i1.wp.com/coinspondent.de/wp-content/uploads/2016/12/honeybadger-306x306.png?fit=306%2C306&amp;ssl=1" data-orig-size="306,306" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="honeybadger-306×306" data-image-description="" data-medium-file="https://i1.wp.com/coinspondent.de/wp-content/uploads/2016/12/honeybadger-306x306.png?fit=306%2C306&amp;ssl=1" data-large-file="https://i1.wp.com/coinspondent.de/wp-content/uploads/2016/12/honeybadger-306x306.png?fit=306%2C306&amp;ssl=1" sizes="(max-width: 306px) 100vw, 306px" data-ll-status="loaded" data-lazy-loaded="1"></a></aside>
            <aside>
              <h1 class="widget-title">Support</h1>


              <div class="fourohtwo-widget">
                <script type="text/props">
                  {
                    "showModal": true,
                    "widgetTitle": "Area 402 Widget",
                    "welcomeMessage": "Hallo"
                  }
                </script>
              </div>
              <script async src="/bundle.js"></script>


            </aside>
          </div>
        </div>
        <div id="secondary">
		      <h2 class="site-description">Aktuelles, Kritisches und Hintergründiges</h2>
	      </div>
      </div>

    </div>
  </body>
</html>
